.form-table th {
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    border-right: 1px solid #ddd;
}
.form-table td {
    font-size: 12px;
}
h3 {
    border-bottom: 1px solid #000;
}

.form-table textarea, .ui-widget textarea {
    font-family: Consolas,Monaco,monospace; 
}    
